<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gear Testing</title>
</head>
<body>
    <h1> 
        <center>This is the homepage!!-->Welcome to the Gear Testing application</center>
    </h1>
    <h2> 
        <center>Host: {{ hostnm }} </center>
    </h2>
    <h2> <center>Gear: {{ gearnm }} </center> </h2>
    <p id = "id_memoryconsumer">
        To use the memory consumer application go to <a id= "id_link_memoryconsumer" href="/memoryconsumer/">this link</a>
    </p>
    
    <p id = "id_admin_link">
        To administer this application login onto <a href="/admin/">admin page</a> 
    </p>
</body>
</html>
